<a href="https://colab.research.google.com/github/Josyce2/on29-python-s09-pandas-numpy-I/blob/main/exercicios/para-casa/Exercico_aula_9_reprograma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data_sample_CE.csv',sep=';',encoding='latin-1', on_bad_lines='skip')

In [7]:
df

,Data,Hora UTC,PRECIPITAO TOTAL. HORARIO (mm),PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO. HORARIA (mB),PRESSAO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSAO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m2),TEMPERATURA DO AR - BULBO SECO. HORARIA (C),TEMPERATURA DO PONTO DE ORVALHO (C),TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C),...,VENTO. RAJADA MAXIMA (m/s),VENTO. VELOCIDADE HORARIA (m/s),REGIAO,UF,ESTACAO,CODIGO (WMO),LATITUDE,LONGITUDE,ALTITUDE,DATA DE FUNDACAO
0,2021/05/10,1600 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,TAUA,A324,-6.017500,-40.281389,410.87,12/07/07
1,2022/01/06,0500 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,CAMPOS SALES,A347,-7.077778,-40.362778,577.95,07/03/08
2,2020/12/30,2000 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,ITAPIPOCA,A359,-3.484298,-39.588715,104.49,05/09/08
3,2022/10/15,0800 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,JAGUARUANA,A339,-4.786944,-37.766667,49.00,10/11/07
4,2021/04/03,1600 UTC,0.0,977.0,977.8,977.0,3132.5,32.3,20.4,33.1,...,7.5,2.9,NE,CE,CRATEUS,A342,-5.186667,-40.672222,298.19,11/12/08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2020/04/25,2200 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,ACARAU,A360,-3.121067,-40.087288,67.15,22/04/09
99996,2021/01/15,0200 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,JAGUARIBE,A358,-5.905556,-38.627778,149.31,10/09/08
99997,2022/12/16,0400 UTC,0.0,976.6,976.8,976.6,0.0,25.4,19.0,26.1,...,5.3,1.9,NE,CE,CRATEUS,A342,-5.186667,-40.672222,298.19,11/12/08
99998,2022/08/12,1500 UTC,0.0,1007.9,1008.9,1007.9,3134.9,31.2,19.5,31.5,...,10.1,5.1,NE,CE,ACARAU,A360,-3.121111,-40.087222,67.15,22/04/09
99999,2022/07/15,1900 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,TAUA,A324,-6.017500,-40.281389,410.87,12/07/07

In [10]:
df['TEMPERATURA DO AR - BULBO SECO. HORARIA (C)'].mean()

26.98861154446178

In [13]:
df[['TEMPERATURA DO AR - BULBO SECO. HORARIA (C)','TEMPERATURA DO PONTO DE ORVALHO (C)']].mean()

TEMPERATURA DO AR - BULBO SECO. HORARIA (C)    26.988612
TEMPERATURA DO PONTO DE ORVALHO (C)            19.416759
dtype: float64

In [12]:
df['RADIACAO GLOBAL (Kj/m2)'].fillna(df['RADIACAO GLOBAL (Kj/m2)'].mean())

0        1268.325421
1        1268.325421
2        1268.325421
3        1268.325421
4        3132.500000
            ...
99995    1268.325421
99996    1268.325421
99997       0.000000
99998    3134.900000
99999    1268.325421
Name: RADIACAO GLOBAL (Kj/m2), Length: 100000, dtype: float64

In [19]:
df[['TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C)' , 'TEMPERATURA DO AR - BULBO SECO. HORARIA (C)' , 'TEMPERATURA DO PONTO DE ORVALHO (C)']].sample(1000)

,TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C),TEMPERATURA DO AR - BULBO SECO. HORARIA (C),TEMPERATURA DO PONTO DE ORVALHO (C)
71,33.3,33.1,18.0
27237,27.1,26.8,19.5
17115,28.0,27.5,18.6
70880,25.8,25.3,24.1
24223,22.6,22.2,17.6
...,...,...,...
53990,NaN,NaN,NaN
48820,NaN,NaN,NaN
51030,NaN,NaN,NaN
86600,23.8,23.8,20.3
31529,NaN,NaN,NaN

In [20]:
df_normalizado = df.copy()

coluna = 'TEMPERATURA DO PONTO DE ORVALHO (C)'

df_normalizado[coluna] = (df_normalizado[coluna] - df_normalizado[coluna].min()) / (df_normalizado[coluna].max() - df_normalizado[coluna].min())

df_normalizado[coluna]

0             NaN
1             NaN
2             NaN
3             NaN
4        0.691710
           ...
99995         NaN
99996         NaN
99997    0.655440
99998    0.668394
99999         NaN
Name: TEMPERATURA DO PONTO DE ORVALHO (C), Length: 100000, dtype: float64

In [23]:
df = df.drop_duplicates()
df.shape
df

,Data,Hora UTC,PRECIPITAO TOTAL. HORARIO (mm),PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO. HORARIA (mB),PRESSAO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSAO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m2),TEMPERATURA DO AR - BULBO SECO. HORARIA (C),TEMPERATURA DO PONTO DE ORVALHO (C),TEMPERATURA MAXIMA NA HORA ANT. (AUT) (C),...,VENTO. RAJADA MAXIMA (m/s),VENTO. VELOCIDADE HORARIA (m/s),REGIAO,UF,ESTACAO,CODIGO (WMO),LATITUDE,LONGITUDE,ALTITUDE,DATA DE FUNDACAO
0,2021/05/10,1600 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,TAUA,A324,-6.017500,-40.281389,410.87,12/07/07
1,2022/01/06,0500 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,CAMPOS SALES,A347,-7.077778,-40.362778,577.95,07/03/08
2,2020/12/30,2000 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,ITAPIPOCA,A359,-3.484298,-39.588715,104.49,05/09/08
3,2022/10/15,0800 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,JAGUARUANA,A339,-4.786944,-37.766667,49.00,10/11/07
4,2021/04/03,1600 UTC,0.0,977.0,977.8,977.0,3132.5,32.3,20.4,33.1,...,7.5,2.9,NE,CE,CRATEUS,A342,-5.186667,-40.672222,298.19,11/12/08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2020/04/25,2200 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,ACARAU,A360,-3.121067,-40.087288,67.15,22/04/09
99996,2021/01/15,0200 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,JAGUARIBE,A358,-5.905556,-38.627778,149.31,10/09/08
99997,2022/12/16,0400 UTC,0.0,976.6,976.8,976.6,0.0,25.4,19.0,26.1,...,5.3,1.9,NE,CE,CRATEUS,A342,-5.186667,-40.672222,298.19,11/12/08
99998,2022/08/12,1500 UTC,0.0,1007.9,1008.9,1007.9,3134.9,31.2,19.5,31.5,...,10.1,5.1,NE,CE,ACARAU,A360,-3.121111,-40.087222,67.15,22/04/09
99999,2022/07/15,1900 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NE,CE,TAUA,A324,-6.017500,-40.281389,410.87,12/07/07